@model BankAccountsManagementSystem.Models.Credit

@{
    ViewBag.Title = "Supprimer";
}

<h2>Suprrimer</h2>

<h3>Vous êtes sur le point de supprimer ce crédit :</h3>
<div>
    <h4>Credit</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Client.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MontantCredit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MontantCredit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Planification)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Planification)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PayementMonsuel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PayementMonsuel)
        </dd>

    </dl>
    <h4>Voulez-vous continuer ?</h4>
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Supprimer" class="btn btn-default" /> |
            @Html.ActionLink("Retour à la liste", "Index")
        </div>
    }
</div>
