@model BankAccountsManagementSystem.Models.Credit

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Credit</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Client.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MontantCredit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MontantCredit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Planification)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Planification)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PayementMonsuel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PayementMonsuel)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Modifier", "Edit", new { id = Model.CreditId }) |
    @Html.ActionLink("Retour à la liste", "Index")
</p>
