@model BankAccountsManagementSystem.Models.Compte

@{
    ViewBag.Title = "Supprimer";
}

<h2>Supprimer compte</h2>

<h3>Vous êtes sur le point de supprimer ce compte :</h3>
<div>
    <h4>Compte</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Client.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoldeBase)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoldeBase)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOuverture)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOuverture)
        </dd>

    </dl>
    <h4>Voulez-vous continuer ?</h4>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Supprimer" class="btn btn-default"/> |
            @Html.ActionLink("Retour à la liste", "Index")
        </div>
    }
</div>
