@model IEnumerable<BankAccountsManagementSystem.Models.Compte>

@{
    ViewBag.Title = "Comptes";
}

<h2>Comptes</h2>

<p>
    @Html.ActionLink("Nouveau compte", "Create")
</p>
@using (Html.BeginForm())
{
    <p>
        Rechercher : @Html.TextBox("SearchString")
        <input type="submit" value="Rechercher"/>
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CompteId)
        </th>
        <th>
            Numéro du client
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoldeBase)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOuverture)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CompteId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Client.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoldeBase)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOuverture)
            </td>
            <td>
                @Html.ActionLink("Modifier", "Edit", new {id = item.CompteId}) |
                @Html.ActionLink("Details", "Details", new {id = item.CompteId}) |
                @Html.ActionLink("Supprimer", "Delete", new {id = item.CompteId})
            </td>
        </tr>
    }

</table>