@model IEnumerable<BankAccountsManagementSystem.Models.Operation>

@{
    ViewBag.Title = "Operations";
}

<h2>Operations</h2>

<p>
    @Html.ActionLink("Nouvelle opération", "Create")
</p>
@using (Html.BeginForm())
{
    <p>
        Rechercher : @Html.TextBox("SearchString")
        <input type="submit" value="Rechercher" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Compte.CompteId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Montant)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Compte.CompteId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Montant)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.OperationId })
        </td>
    </tr>
}

</table>
