@model IEnumerable<BankAccountsManagementSystem.Models.PersonnePhysique>

@{
    ViewBag.Title = "Personnes physiques";
}

<h2>Personnes physiques</h2>

<p>
    @Html.ActionLink("Nouveau client", "Create")
</p>
@using (Html.BeginForm())
{
    <p>
        Rechercher : @Html.TextBox("SearchString")
        <input type="submit" value="Rechercher" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cin)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prénom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adresse)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Profession)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telephone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Salaire)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prénom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Adresse)
        </td>
        

        <td>
            @Html.DisplayFor(modelItem => item.Profession)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telephone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Salaire)
        </td>
        <td>
            @Html.ActionLink("Modifier", "Edit", new {id = item.Id}) |
            @Html.ActionLink("Details", "Details", new {id = item.Id}) |
            @Html.ActionLink("Supprimer", "Delete", new {id = item.Id})
        </td>
    </tr>
}

</table>
